.inputContainer label {
    text-transform: uppercase;
    color: #404258;
    display: block;
    font-weight: 500;
    margin-top: 1.5rem;
}

.inputContainer input, .inputContainer textarea {
    width: 80vw;
    height: 10vh;
    text-align: center;
}

.invalidInput {
    background-color: #f59090;
    border: 3px solid red;
}
