.navlinks{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 1rem;
}

.navlinks:hover, .active, .navlinks:focus {
    color: #fb743e;
}

.test {
    color: green;
}